In [1]:
import quandl

In [2]:
data = quandl.get("LOCALBTC/MXN", authtoken="ea2BgPgsPbimc87NDXxT")

In [3]:
data.reset_index(level=0, inplace=True)

In [4]:
data.to_csv('btc_mxn_db.csv', index=False)

           Date  24h Average  12h Average       Last  Volume (BTC)
0    2014-04-15      6762.23      6864.03    7500.00     10.540000
1    2014-04-16      6900.09      6892.85    7128.84     11.770000
2    2014-04-17      7126.44      6917.98    6985.55      5.760000
3    2014-04-18      6909.36      6874.22    6679.72      3.700000
4    2014-04-19      6889.90      6889.71    7041.87      1.530000
...         ...          ...          ...        ...           ...
1910 2019-12-07    150788.19    150610.99  153071.38      2.897516
1911 2019-12-08    151271.67    152582.02  153047.95      1.480131
1912 2019-12-09    145530.12    145298.81  146289.83      8.048404
1913 2019-12-10    146385.56    145321.43  139013.01      5.670937
1914 2019-12-11    143228.17    142438.13  146450.34      3.784957

[1915 rows x 5 columns]