In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('btc_mxn_bitso.csv')

In [3]:
df2 = pd.read_csv('btc_mxn_bitso_2.csv')

In [4]:
df3 = pd.read_csv('btc_mxn_bitso_3.csv')

In [5]:
df4 = pd.read_csv('btc_mxn_bitso_4.csv')

In [6]:
btc_mxn = pd.concat([df,df2,df3,df4], ignore_index=True)

In [7]:
btc_mxn.head()

       price    volume  hour        date  side
0  170495.00  0.002933     0  2019-06-01  sell
1  170495.99  0.104086     0  2019-06-01  sell
2  170495.99  0.037139     0  2019-06-01  sell
3  170493.39  0.018463     0  2019-06-01  sell
4  170490.46  0.006197     0  2019-06-01  sell

In [8]:
btc_mxn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197668 entries, 0 to 197667
Data columns (total 5 columns):
price     197668 non-null float64
volume    197668 non-null float64
hour      197668 non-null int64
date      197668 non-null object
side      197668 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 7.5+ MB

In [9]:
btc_mxn.date = btc_mxn.date.astype('datetime64')

In [10]:
btc_mxn['month'] = [i.month for i in btc_mxn.date]

In [12]:
btc_mxn['day'] = [i.day for i in btc_mxn.date]

In [16]:
filter_df = btc_mxn.loc[(btc_mxn.month==6) & (btc_mxn.day==1)]

In [22]:
filter_df.head()

       price    volume  hour       date  side  month  day
0  170495.00  0.002933     0 2019-06-01  sell      6    1
1  170495.99  0.104086     0 2019-06-01  sell      6    1
2  170495.99  0.037139     0 2019-06-01  sell      6    1
3  170493.39  0.018463     0 2019-06-01  sell      6    1
4  170490.46  0.006197     0 2019-06-01  sell      6    1

In [23]:
day_df = pd.DataFrame(columns=['date', '24h_avg', '12h_avg', 'last', 'volume', 'side'])

In [49]:
day_df['side'] = filter_df.side.value_counts().max()

In [50]:
day_df.date = filter_df.loc[0].date

In [51]:
day_df

Empty DataFrame
Columns: [date, 24h_avg, 12h_avg, last, volume, side]
Index: []