In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('../csv_files/btc_mxn_bitso.csv')

In [3]:
df2 = pd.read_csv('../csv_files/btc_mxn_bitso_2.csv')

In [4]:
df3 = pd.read_csv('../csv_files/btc_mxn_bitso_3.csv')

In [5]:
df4 = pd.read_csv('../csv_files/btc_mxn_bitso_4.csv')

In [6]:
df5 = pd.read_csv('../csv_files/btc_mxn_bitso_5.csv')

In [7]:
df6 = pd.read_csv('../csv_files/btc_mxn_bitso_6.csv')

In [8]:
btc_mxn = pd.concat([df6,df,df2,df3,df4,df5], ignore_index=True)

In [9]:
btc_mxn.head()

      price    volume  hour        date  side
0  72842.33  0.027457     0  2019-01-01  sell
1  72280.00  0.024892     0  2019-01-01   buy
2  72330.00  0.009128     0  2019-01-01   buy
3  72338.19  0.008765     0  2019-01-01   buy
4  72334.12  0.039600     0  2019-01-01   buy

In [10]:
btc_mxn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365881 entries, 0 to 365880
Data columns (total 5 columns):
price     365881 non-null float64
volume    365881 non-null float64
hour      365881 non-null int64
date      365881 non-null object
side      365881 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 14.0+ MB

In [11]:
btc_mxn.date = btc_mxn.date.astype('datetime64')

In [12]:
btc_mxn['month'] = [i.month for i in btc_mxn.date]

In [13]:
btc_mxn['day'] = [i.day for i in btc_mxn.date]

In [14]:
btc_mxn = btc_mxn.drop_duplicates()

In [15]:
btc_mxn

            price    volume  hour       date  side  month  day
0        72842.33  0.027457     0 2019-01-01  sell      1    1
1        72280.00  0.024892     0 2019-01-01   buy      1    1
2        72330.00  0.009128     0 2019-01-01   buy      1    1
3        72338.19  0.008765     0 2019-01-01   buy      1    1
4        72334.12  0.039600     0 2019-01-01   buy      1    1
...           ...       ...   ...        ...   ...    ...  ...
365876  134793.73  0.005193     1 2019-12-15  sell     12   15
365877  134633.66  0.002926     1 2019-12-15  sell     12   15
365878  134146.64  0.001717     1 2019-12-15   buy     12   15
365879  134146.64  0.001807     1 2019-12-15   buy     12   15
365880  134146.64  0.008997     1 2019-12-15   buy     12   15

[309281 rows x 7 columns]

In [17]:
def extraction(df, m):
    f_df = df.loc[df['month'] == m]
    y = 2019
    days = list(f_df['day'].unique())
    results = {}
    nombres = ['date', '24h_avg', '12h_avg', 'min', 'max', 'volume', 'm_side']
    
    for i in nombres:
        results[i] = []
    
    for e in days:
        ndf = f_df.loc[f_df.day == e]
        results['date'].append(dt.date(y, m, e))
        results['24h_avg'].append(ndf.price.mean())
        results['12h_avg'].append(ndf.price.loc[ndf.hour<12].mean())
        results['max'].append(ndf.price.max())
        results['min'].append(ndf.price.min())
        results['volume'].append(ndf.volume.sum())
        weight = ndf.side.value_counts().sum()
        buy = ndf.side.value_counts()['buy']/weight
        sell = ndf.side.value_counts()['sell']/weight
        results['m_side'].append(np.where(buy > sell, 'buy', 'sell'))
    
    return results

In [44]:
df1 = pd.DataFrame.from_dict(extraction(btc_mxn, 1))
df2 = pd.DataFrame.from_dict(extraction(btc_mxn, 2))
df3 = pd.DataFrame.from_dict(extraction(btc_mxn, 3))
df4 = pd.DataFrame.from_dict(extraction(btc_mxn, 4))
df5 = pd.DataFrame.from_dict(extraction(btc_mxn, 5))
df6 = pd.DataFrame.from_dict(extraction(btc_mxn, 6))
df7 = pd.DataFrame.from_dict(extraction(btc_mxn, 7))
df8 = pd.DataFrame.from_dict(extraction(btc_mxn, 8))
df9 = pd.DataFrame.from_dict(extraction(btc_mxn, 9))
df10 = pd.DataFrame.from_dict(extraction(btc_mxn, 10))
df11 = pd.DataFrame.from_dict(extraction(btc_mxn, 11))
df12 = pd.DataFrame.from_dict(extraction(btc_mxn, 12))

In [1]:
import datetime

In [4]:
datetime.datetime.today().month

12

In [45]:
second_semester = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], ignore_index=True, )

In [46]:
second_semester.drop(second_semester.tail(1).index,inplace=True)

In [51]:
second_semester.to_csv('../csv_files/btc_mxn_bitso_19_12_14.csv', index=False)

In [5]:
second_semester.info()

NameError: name 'second_semester' is not defined