In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('../csv_files/btc_mxn_bitso.csv')

In [3]:
df2 = pd.read_csv('../csv_files/btc_mxn_bitso_2.csv')

In [4]:
df3 = pd.read_csv('../csv_files/btc_mxn_bitso_3.csv')

In [5]:
df4 = pd.read_csv('../csv_files/btc_mxn_bitso_4.csv')

In [6]:
df5 = pd.read_csv('../csv_files/btc_mxn_bitso_5.csv')

In [7]:
df6 = pd.read_csv('../csv_files/btc_mxn_bitso_6.csv')

In [8]:
btc_mxn = pd.concat([df6,df,df2,df3,df4,df5], ignore_index=True)

In [9]:
btc_mxn.head()

      price    volume  hour        date  side
0  72842.33  0.027457     0  2019-01-01  sell
1  72280.00  0.024892     0  2019-01-01   buy
2  72330.00  0.009128     0  2019-01-01   buy
3  72338.19  0.008765     0  2019-01-01   buy
4  72334.12  0.039600     0  2019-01-01   buy

In [10]:
btc_mxn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365881 entries, 0 to 365880
Data columns (total 5 columns):
price     365881 non-null float64
volume    365881 non-null float64
hour      365881 non-null int64
date      365881 non-null object
side      365881 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 14.0+ MB

In [11]:
btc_mxn.date = btc_mxn.date.astype('datetime64')

In [12]:
btc_mxn['month'] = [i.month for i in btc_mxn.date]

In [13]:
btc_mxn['day'] = [i.day for i in btc_mxn.date]

In [14]:
btc_mxn = btc_mxn.drop_duplicates()

In [15]:
btc_mxn

            price    volume  hour       date  side  month  day
0        72842.33  0.027457     0 2019-01-01  sell      1    1
1        72280.00  0.024892     0 2019-01-01   buy      1    1
2        72330.00  0.009128     0 2019-01-01   buy      1    1
3        72338.19  0.008765     0 2019-01-01   buy      1    1
4        72334.12  0.039600     0 2019-01-01   buy      1    1
...           ...       ...   ...        ...   ...    ...  ...
365876  134793.73  0.005193     1 2019-12-15  sell     12   15
365877  134633.66  0.002926     1 2019-12-15  sell     12   15
365878  134146.64  0.001717     1 2019-12-15   buy     12   15
365879  134146.64  0.001807     1 2019-12-15   buy     12   15
365880  134146.64  0.008997     1 2019-12-15   buy     12   15

[309281 rows x 7 columns]

In [17]:
def extraction(df, m):
    f_df = df.loc[df['month'] == m]
    y = 2019
    days = list(f_df['day'].unique())
    results = {}
    nombres = ['date', '24h_avg', '12h_avg', 'min', 'max', 'volume', 'm_side']
    
    for i in nombres:
        results[i] = []
    
    for e in days:
        ndf = f_df.loc[f_df.day == e]
        results['date'].append(dt.date(y, m, e))
        results['24h_avg'].append(ndf.price.mean())
        results['12h_avg'].append(ndf.price.loc[ndf.hour<12].mean())
        results['max'].append(ndf.price.max())
        results['min'].append(ndf.price.min())
        results['volume'].append(ndf.volume.sum())
        weight = ndf.side.value_counts().sum()
        buy = ndf.side.value_counts()['buy']/weight
        sell = ndf.side.value_counts()['sell']/weight
        results['m_side'].append(np.where(buy > sell, 'buy', 'sell'))
    
    return results

In [34]:
def df_f_dict(daf):
    daf = []
    for m in range(1,13):
        daf.append(pd.DataFrame.from_dict(extraction(df, m)))
    return daf

In [44]:
df1 = pd.DataFrame.from_dict(extraction(btc_mxn, 1))
df2 = pd.DataFrame.from_dict(extraction(btc_mxn, 2))
df3 = pd.DataFrame.from_dict(extraction(btc_mxn, 3))
df4 = pd.DataFrame.from_dict(extraction(btc_mxn, 4))
df5 = pd.DataFrame.from_dict(extraction(btc_mxn, 5))
df6 = pd.DataFrame.from_dict(extraction(btc_mxn, 6))
df7 = pd.DataFrame.from_dict(extraction(btc_mxn, 7))
df8 = pd.DataFrame.from_dict(extraction(btc_mxn, 8))
df9 = pd.DataFrame.from_dict(extraction(btc_mxn, 9))
df10 = pd.DataFrame.from_dict(extraction(btc_mxn, 10))
df11 = pd.DataFrame.from_dict(extraction(btc_mxn, 11))
df12 = pd.DataFrame.from_dict(extraction(btc_mxn, 12))

In [45]:
second_semester = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], ignore_index=True, )

In [46]:
second_semester.drop(second_semester.tail(1).index,inplace=True)

In [51]:
second_semester.to_csv('../csv_files/btc_mxn_bitso_19_12_14.csv', index=False)

In [48]:
second_semester

,date,24h_avg,12h_avg,min,max,volume,m_side
0,2019-01-01,72367.013703,71940.650982,71482.60,74305.00,23.596065,sell
1,2019-01-02,74240.741398,73729.642422,73200.00,75800.00,32.171027,sell
2,2019-01-03,74502.944671,75087.876912,73206.01,75770.91,32.681422,sell
3,2019-01-04,73862.854180,74143.966128,73111.00,74992.99,63.488756,buy
4,2019-01-05,74501.196250,74502.782839,73500.00,75340.12,43.711783,buy
...,...,...,...,...,...,...,...
343,2019-12-10,140312.664853,141920.500901,138009.72,142536.45,42.952229,sell
344,2019-12-11,137608.144227,139283.050570,132000.00,139900.00,35.334826,buy
345,2019-12-12,136844.432405,136662.505259,135250.41,138699.98,25.641359,sell
346,2019-12-13,137767.075557,137186.985455,136800.01,138799.97,39.382959,sell
347,2019-12-14,136215.456165,138189.031451,133300.11,138488.46,32.294932,sell