In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('csv_files/btc_mxn_bitso.csv')

In [3]:
df2 = pd.read_csv('csv_files/btc_mxn_bitso_2.csv')

In [4]:
df3 = pd.read_csv('csv_files/btc_mxn_bitso_3.csv')

In [5]:
df4 = pd.read_csv('csv_files/btc_mxn_bitso_4.csv')

In [6]:
df5 = pd.read_csv('csv_files/btc_mxn_bitso_5.csv')

In [7]:
btc_mxn = pd.concat([df,df2,df3,df4,df5], ignore_index=True)

In [8]:
btc_mxn.head()

       price    volume  hour        date  side
0  170495.00  0.002933     0  2019-06-01  sell
1  170495.99  0.104086     0  2019-06-01  sell
2  170495.99  0.037139     0  2019-06-01  sell
3  170493.39  0.018463     0  2019-06-01  sell
4  170490.46  0.006197     0  2019-06-01  sell

In [9]:
btc_mxn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197868 entries, 0 to 197867
Data columns (total 5 columns):
price     197868 non-null float64
volume    197868 non-null float64
hour      197868 non-null int64
date      197868 non-null object
side      197868 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 7.5+ MB

In [10]:
btc_mxn.date = btc_mxn.date.astype('datetime64')

In [11]:
btc_mxn['month'] = [i.month for i in btc_mxn.date]

In [12]:
btc_mxn['day'] = [i.day for i in btc_mxn.date]

In [13]:
filter_df = btc_mxn.loc[(btc_mxn.month==6) & (btc_mxn.day==1)]

In [14]:
filter_df.tail()

         price    volume  hour       date  side  month  day
904  170415.59  0.000498    23 2019-06-01  sell      6    1
905  170398.73  0.005869    23 2019-06-01  sell      6    1
906  169950.00  0.014736    23 2019-06-01   buy      6    1
907  169950.00  0.010661    23 2019-06-01   buy      6    1
908  169950.00  0.000800    23 2019-06-01   buy      6    1

In [15]:
filter_df.price.max()

170999.99

In [16]:
filter_df = btc_mxn.loc[(btc_mxn.month==6)]

In [17]:
filter_df.loc[0].date.year

2019

In [18]:
days = list(filter_df['day'].unique())
new = []
for e in days:
    ndf = filter_df.loc[filter_df.day == e]
    new.append(dt.date(2019, 6, e))
print(new)

[datetime.date(2019, 6, 1), datetime.date(2019, 6, 2), datetime.date(2019, 6, 3), datetime.date(2019, 6, 4), datetime.date(2019, 6, 5), datetime.date(2019, 6, 6), datetime.date(2019, 6, 7), datetime.date(2019, 6, 8), datetime.date(2019, 6, 9), datetime.date(2019, 6, 10), datetime.date(2019, 6, 11), datetime.date(2019, 6, 12), datetime.date(2019, 6, 13), datetime.date(2019, 6, 14), datetime.date(2019, 6, 15), datetime.date(2019, 6, 16), datetime.date(2019, 6, 17), datetime.date(2019, 6, 18), datetime.date(2019, 6, 19), datetime.date(2019, 6, 20), datetime.date(2019, 6, 21), datetime.date(2019, 6, 22), datetime.date(2019, 6, 23), datetime.date(2019, 6, 24), datetime.date(2019, 6, 25), datetime.date(2019, 6, 26), datetime.date(2019, 6, 27), datetime.date(2019, 6, 28), datetime.date(2019, 6, 29), datetime.date(2019, 6, 30)]

In [19]:
def extraction(df, m):
    f_df = df.loc[df['month'] == m]
    y = 2019
    days = list(f_df['day'].unique())
    results = {}
    nombres = ['date', '24h_avg', '12h_avg', 'min', 'max', 'volume', 'm_side']
    
    for i in nombres:
        results[i] = []
    
    for e in days:
        ndf = f_df.loc[f_df.day == e]
        results['date'].append(dt.date(y, m, e))
        results['24h_avg'].append(ndf.price.mean())
        results['12h_avg'].append(ndf.price.loc[ndf.hour<12].mean())
        results['max'].append(ndf.price.max())
        results['min'].append(ndf.price.min())
        results['volume'].append(ndf.volume.sum())
        results['m_side'].append(ndf.side.max())
    
        
    return results

In [20]:
df1 = pd.DataFrame.from_dict(extraction(btc_mxn, 6))
df2 = pd.DataFrame.from_dict(extraction(btc_mxn, 7))
df3 = pd.DataFrame.from_dict(extraction(btc_mxn, 8))
df4 = pd.DataFrame.from_dict(extraction(btc_mxn, 9))
df5 = pd.DataFrame.from_dict(extraction(btc_mxn, 10))
df6 = pd.DataFrame.from_dict(extraction(btc_mxn, 11))
df7 = pd.DataFrame.from_dict(extraction(btc_mxn, 12))

In [34]:
second_semester = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True, )

In [39]:
second_semester.drop(second_semester.tail(1).index,inplace=True)

In [42]:
second_semester.to_csv('csv_files/btc_mxn_bitso_19_12_14')

In [40]:
second_semester

,date,24h_avg,12h_avg,min,max,volume,m_side
0,2019-06-01,169839.784796,169732.258750,167606.40,170999.99,22.400556,sell
1,2019-06-02,171126.622522,170436.470929,169063.80,172887.47,23.205093,sell
2,2019-06-03,168768.156960,170219.484195,162501.11,171994.96,45.846036,sell
3,2019-06-04,156071.429773,159374.496284,149053.01,163000.00,84.385705,sell
4,2019-06-05,154991.694859,155761.115012,152100.25,157999.99,61.765210,sell
...,...,...,...,...,...,...,...
192,2019-12-10,140309.212488,141927.150339,138009.72,142536.45,43.193731,sell
193,2019-12-11,137586.852871,139300.049000,132000.00,139900.00,35.621595,sell
194,2019-12-12,136848.166682,136653.777105,135250.41,138699.98,27.216364,sell
195,2019-12-13,137775.113867,137188.116218,136800.01,138799.97,40.687669,sell
196,2019-12-14,136111.476833,138190.288100,133300.11,138488.46,33.463544,sell